body { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif }
header { margin-left:2% }
footer { margin-left:2%; margin-top:2% ; border: 0pt solid black }
h3 { font-size: 24px; font-style: normal }
p { font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px }

.container { position: relative; width: 85%; height: 85%; margin-left:2% }
table { width:450px; height:450px }
table, tr, td { border: 1px solid black; text-align:center }

.stats { position: relative; width:450px; height:55px; padding-left: 165px; }
.snum { font-size:39px; border: 0pt solid black }
.box { float:left; margin-left: 1em; margin-right: 1em }
.hearts { padding-top: 7px; padding-left: 18px; width: 41px; height: 46px; border: 0pt solid black }
.spades { padding-top: 7px; padding-left: 18px; width: 41px; height: 46px; border: 0pt solid black }

.tray { position: absolute; top: 0px; left: 485px; width: 56px; height: 450px; background-color: #725c5c; border: 2px solid grey }
.tiles { position: absolute }
.queens { width: 56px; height: 56px }